@charset "utf-8";
/* CSS DOCUMENT */

bandName{
  text-align: center;
  background-color: CornFlowerblue;
  display:block;
  font-size: 80px;
  font-weight: 1000;
  border-bottom:10px;
  padding: 8px;
}
song {
  text-align: center;
  background-color: HoneyDew;
  display:block;
  font-size: 30px;
  font-weight: 1000;
  border-bottom:1px;
  padding: 8px;
}
artist {
  text-align: center;
  background-color: HoneyDew;
  font-size: 15px;
  display: list-item;
}

songTitle {
  text-align: center;
  background-color: HoneyDew;
  font-size: 30px;
  font-weight: 700;
  display: list-item;
}

genre {
  text-align: center;
  background-color: HoneyDew;
  font-size: 20px;
  display: list-item;
}

year {
  text-align: center;
  background-color: HoneyDew;
  font-size: 20px;
}
